/*Css reset*/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/*custom style*/
body {
    background-color: #3b3b3b;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: gray;
    text-align: center;
    margin-bottom: 10px;
}

footer {
    background-color: gray;
    text-align: center;
    margin-top: 10px;
}

main {
    flex: 1;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

#gl-canvas{
    border: solid 10px black;
}