/*Css reset*/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/*custom style*/
body {
    background-color: #242424;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: gray;
    text-align: center;
}

footer {
    background-color: gray;
    text-align: center;
    margin-top: 10px;
}

main {
    flex: 1;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.names {
    margin-left: 10px;
    color: white;
    pointer-events: none;
}

.songCard {
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    display: flex;
    background-position: center;
    background-size: 100%;
    min-width: 600px;
    transition: 300ms;
    cursor: pointer;
    border: none;
    text-align: left;
    font: inherit;
}

.songCard:hover {
    scale: 1.1;
}

.songCard>img {
    border-radius: 10px;
    width: 110px;
    object-fit: cover;
    pointer-events: none;
}

.Popup{
    background-color: #383838;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 25px;
    min-width: 300px;
    border: 0.4rem solid #212121;

    position: fixed;
    z-index: 1000;
    opacity: 0%;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.Popup>ul{
    list-style: none;
    text-align: left;
    padding: 0;
}

.InputField{
    margin-top: 10px;
}

.InputField>label{
    display: block;
}

input{
    accent-color: #d12e76;
}

.MenuButton{
    color: white;
    border-radius: 15px;
    border: 0.4rem solid white;
    background-color: #d12e76;
}

.ValueText, .TimeText{
    display: inline;
}

#timeText{
    color: #5c5c5c;
}

.TimeText{
    display: inline;
    margin-left: 10px;
}

.Active{
    opacity: 100%;
    visibility: visible;
    pointer-events: all;
}